body {
  font-family: 'Roboto', sans-serif;
  background-color: $color-background;

  .container {
    margin: 0 auto;
    max-width: 500px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 43px;

    header{
      display: flex;
      background-color: $color-main;
      color: #fff;
      padding: 22px;
      align-items: center;

      h1, h2, h3 {
        margin: 0;
        font-weight: normal;
        line-height: 1.1;
      }
      h1{
        font-size: 24px;
      }
      h2{
        font-size: 15px;
      }
    }
  }
}